.menu-container{
    display: grid;
    max-width: 100%;
    left: 10%;
    max-height: 100%;
    padding-bottom: 1000px;
}

.menu-nav{
    position: relative;
    top: 28px;
    left: 8%;
}



#breakfast-button{
    background-color: #F4CE14;
    color: #495E57;
    border-radius: 15px;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    padding: 12px;
    position: relative;
    left: 8%;
    cursor: pointer;
}

#lunch-button{
    background-color: #F4CE14;
    color: #495E57;
    border-radius: 15px;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    padding: 12px 28px 12px 28px;
    position: relative;
    left: 16%;
    cursor: pointer;
}

#dinner-button{
    background-color: #F4CE14;
    color: #495E57;
    border-radius: 15px;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    padding: 12px 28px 12px 28px;
    position: relative;
    left: 24%;
    cursor: pointer;
}

#beverages-button{
    background-color: #F4CE14;
    color: #495E57;
    border-radius: 15px;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    padding: 12px;
    position: relative;
    left: 32%;
    cursor: pointer;
}

#desserts-button{
    background-color: #F4CE14;
    color: #495E57;
    border-radius: 15px;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    padding: 12px 28px 12px 28px;
    position: relative;
    left: 40%;
    cursor: pointer;
}

#breakfast-button:hover{
    background-color: #495E57;
    color:#F4CE14;
}

#lunch-button:hover{
    background-color: #495E57;
    color:#F4CE14;
}

#dinner-button:hover{
    background-color: #495E57;
    color:#F4CE14;
}

#beverages-button:hover{
    background-color: #495E57;
    color:#F4CE14;
}

#desserts-button:hover{
    background-color: #495E57;
    color:#F4CE14;
}

.scroll-top{
    position:fixed;
    right: 1%;
    bottom: 8%;
    color:#F4CE14;
    cursor: pointer;
    z-index: 4;
}

.scroll-top-1{
    position:fixed;
    right: 2%;
    bottom: 10%;
    color:#F4CE14;
    cursor: pointer;
    z-index: 4;
}

.scroll-bottom{
    position:fixed;
    right: 2.75%;
    top: 8%;
    color:#F4CE14;
    cursor: pointer;
}

.scroll-bottom-1{
    position:fixed;
    right: 4%;
    top: 10%;
    color:#F4CE14;
    cursor: pointer;
}

.breakfast-title{
    position: relative;
    left: 4%;
    font-size: 36px;
    font-family: 'Markazi', "serif";
}

.breakfast-subtitle{
    position: relative;
    top:-7%;
    left: 6%;
    font-size: 24px;
    font-family: 'Markazi', "serif";
}

.breakfast-jumbotron{
    position: relative;
    top: -7%;
    left: 4%;
    width: 92%;
    height: 30%;
    background-image: url("../../../public/lemon-breakfast.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px ;
}

.breakfast-tiles{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 4%;
    top: -4%
}

.breakfast-tile-1{
    max-width: 350px;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

.breakfast-food{
    position: relative;
    left: 2%;
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

.breakfast-price{
    position: relative;
    right: -82%;
    top: -40px;
    color:#EE9972;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

.breakfast-spec{
    position: relative;
    top:-4%;
    left: 2%;
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

.breakfast-tile-2{
    max-width: 350px;
    position: relative;
    left: 11.5%;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

.breakfast-tile-3{
    max-width: 350px;
    position: relative;
    left: 23%;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

/* Lunch */

.lunch-menu{
    position: relative;
    top: 20%
}

.lunch-title{
    position: relative;
    left: 4%;
    font-size: 36px;
    font-family: 'Markazi', "serif";
}

.lunch-subtitle{
    position: relative;
    top:-8%;
    left: 6%;
    font-size: 24px;
    font-family: 'Markazi', "serif";
}

.lunch-jumbotron{
    position: relative;
    top: -9%;
    left: 4%;
    width: 92%;
    height: 30%;
    background-image: url("../../../public/lemon-lunch.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px ;
}

.lunch-tiles{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 4%;
    top:-6%;
}

.lunch-tile-1{
    max-width: 350px;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

.lunch-food{
    position: relative;
    left: 2%;
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

.lunch-price{
    position: relative;
    right: -82%;
    top: -40px;
    color:#EE9972;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

.lunch-spec{
    position: relative;
    top:-4%;
    left: 2%;
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

.lunch-tile-2{
    max-width: 350px;
    position: relative;
    left: 11.5%;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

.lunch-tile-3{
    max-width: 350px;
    position: relative;
    left: 23%;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

/* Dinner */

.dinner-menu{
    position: relative;
    top: 40%
}

.dinner-title{
    position: relative;
    left: 4%;
    font-size: 36px;
    font-family: 'Markazi', "serif";
}

.dinner-subtitle{
    position: relative;
    top:-8%;
    left: 6%;
    font-size: 24px;
    font-family: 'Markazi', "serif";
}

.dinner-jumbotron{
    position: relative;
    top: -9%;
    left: 4%;
    width: 92%;
    height: 30%;
    background-image: url("../../../public/lemon-dinner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px ;
}

.dinner-tiles{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 4%;
    top:-6%;
}

.dinner-tile-1{
    max-width: 350px;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

.dinner-food{
    position: relative;
    left: 2%;
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

.dinner-price{
    position: relative;
    right: -82%;
    top: -40px;
    color:#EE9972;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

.dinner-spec{
    position: relative;
    top:-4%;
    left: 2%;
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

.dinner-tile-2{
    max-width: 350px;
    position: relative;
    left: 11.5%;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

.dinner-tile-3{
    max-width: 350px;
    position: relative;
    left: 23%;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

/* Drinks */

.drinks-menu{
    position: relative;
    top: 60%
}

.drinks-title{
    position: relative;
    left: 4%;
    font-size: 36px;
    font-family: 'Markazi', "serif";
}

.drinks-subtitle{
    position: relative;
    top:-8%;
    left: 6%;
    font-size: 24px;
    font-family: 'Markazi', "serif";
}

.drinks-jumbotron{
    position: relative;
    top: -10%;
    left: 4%;
    width: 92%;
    height: 30%;
    background-image: url("../../../public/lemon-drinks.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px ;
}

.drinks-tiles{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 4%;
    top:-7%;
}

.drinks-tile-1{
    max-width: 350px;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

.drinks-food{
    position: relative;
    left: 2%;
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

.drinks-price{
    position: relative;
    right: -82%;
    top: -40px;
    color:#EE9972;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

.drinks-spec{
    position: relative;
    top:-4%;
    left: 2%;
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

.drinks-tile-2{
    max-width: 350px;
    position: relative;
    left: 11.5%;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

.drinks-tile-3{
    max-width: 350px;
    position: relative;
    left: 23%;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

/* Desserts */

.desserts-menu{
    position: relative;
    top: 75%
}

.desserts-title{
    position: relative;
    left: 4%;
    font-size: 36px;
    font-family: 'Markazi', "serif";
}

.desserts-subtitle{
    position: relative;
    top:-8%;
    left: 6%;
    font-size: 24px;
    font-family: 'Markazi', "serif";
}

.desserts-jumbotron{
    position: relative;
    top: -8%;
    left: 4%;
    width: 92%;
    height: 30%;
    background-image: url("../../../public/lemon-desserts.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px ;
}

.desserts-tiles{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 4%;
    top:-4%;
}

.desserts-tile-1{
    max-width: 350px;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

.desserts-food{
    position: relative;
    left: 2%;
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

.desserts-price{
    position: relative;
    right: -82%;
    top: -40px;
    color:#EE9972;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

.desserts-spec{
    position: relative;
    top:-4%;
    left: 2%;
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

.desserts-tile-2{
    max-width: 350px;
    position: relative;
    left: 11.5%;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}

.desserts-tile-3{
    max-width: 350px;
    position: relative;
    left: 23%;
    background-color: #EDEFEE;
    border-radius: 15px 15px;
}



@media (min-width: 1200px) and (max-width: 1340.99px) {
    .menu-nav{
        left: 4%;
    }
    
    .breakfast-tile-2{
        left: 2%;
    }
    
    .breakfast-tile-3{
        left: 4%;
    }

    .lunch-tile-2{
        left: 2%;
    }
    
    .lunch-tile-3{
        left: 4%;
    }

    .dinner-tile-2{
        left: 2%;
    }
    
    .dinner-tile-3{
        left: 4%;
    }

    .drinks-tile-2{
        left: 2%;
    }
    
    .drinks-tile-3{
        left: 4%;
    }

    .desserts-tile-2{
        left: 2%;
    }
    
    .desserts-tile-3{
        left: 4%;
    }
}

@media (min-width: 900px) and (max-width: 1199.99px) {

    .menu-container{
        padding-bottom: 2800px;
    }
    

    #breakfast-button{
        left: 4%;
    }

    #lunch-button{
        left: 8%;
    }

    #dinner-button{
        left: 12%;
    }

    #beverages-button{
        left: 16%;
    }

    #desserts-button{
        left: 20%;
    }


    .breakfast-subtitle{
        position: relative;
        top:-3.5%;
        left: 6%;
    }
    
    .breakfast-jumbotron{
        position: relative;
        top: -4%;
        width: 80%;
    }

    .breakfast-tiles{
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .breakfast-tile-1{
        position: relative;
        top: 8%;
        left: 24%;
    }
    
    .breakfast-tile-2{
        position: relative;
        top: 12%;
        left: 24%;
    }
    
    .breakfast-tile-3{
        position: relative;
        top: 16%;
        left: 24%;
    }
    
    /* lunch */

    .lunch-menu{
        position: relative;
        top: 28%
    }
    .lunch-subtitle{
        position: relative;
        top:-3.5%;
        left: 6%;
    }
    
    .lunch-jumbotron{
        position: relative;
        top: -4%;
        width: 80%;
    }

    .lunch-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .lunch-tile-1{
        position: relative;
        top: 8%;
        left: 24%;
    }
    
    .lunch-tile-2{
        position: relative;
        top: 12%;
        left: 24%;
    }
    
    .lunch-tile-3{
        position: relative;
        top: 16%;
        left: 24%;
    }

    /* dinner */

    .dinner-menu{
        position: relative;
        top: 56%
    }
    .dinner-subtitle{
        position: relative;
        top:-3.5%;
        left: 6%;
    }
    
    .dinner-jumbotron{
        position: relative;
        top: -4%;
        width: 80%;
    }

    .dinner-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .dinner-tile-1{
        position: relative;
        top: 8%;
        left: 24%;
    }
    
    .dinner-tile-2{
        position: relative;
        top: 12%;
        left: 24%;
    }
    
    .dinner-tile-3{
        position: relative;
        top: 16%;
        left: 24%;
    }
    /* drinks */

    .drinks-menu{
        position: relative;
        top: 92%
    }

    .drinks-title{
        position: relative;
        top:-8%;
        left: 4%;
    }

    .drinks-subtitle{
        position: relative;
        top:-11%;
        left: 6%;
    }
    
    .lunch-jumbotron{
        position: relative;
        top: -4%;
        width: 80%;
    }

    .drinks-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .drinks-tile-1{
        position: relative;
        top: 8%;
        left: 24%;
    }
    
    .drinks-tile-2{
        position: relative;
        top: 12%;
        left: 24%;
    }
    
    .drinks-tile-3{
        position: relative;
        top: 16%;
        left: 24%;
    }

    /* desserts */

       .desserts-menu{
        position: relative;
        top: 124%
    }

    .desserts-title{
        position: relative;
        top:-1%;
        left: 4%;
    }

    .desserts-subtitle{
        position: relative;
        top:-4%;
        left: 6%;
    }
    
    .desserts-jumbotron{
        position: relative;
        top: -4%;
        width: 80%;
    }

    .desserts-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .desserts-tile-1{
        position: relative;
        top: 8%;
        left: 24%;
    }
    
    .desserts-tile-2{
        position: relative;
        top: 12%;
        left: 24%;
    }
    
    .desserts-tile-3{
        position: relative;
        top: 16%;
        left: 24%;
    }
}

@media (min-width: 600px) and (max-width: 899.99px) {

    .menu-container{
        padding-bottom: 2800px;
    }
    
    .menu-nav{
        position: relative;
        top: 52px;
        left: 0%;
    }

    #breakfast-button{
        left: 4%;
    }

    #lunch-button{
        left: 8%;
    }

    #dinner-button{
        left: 12%;
    }

    #beverages-button{
        left: 16%;
    }

    #desserts-button{
        left: 20%;
    }

    .breakfast-title{
        position: relative;
        top:1%;
        left: 6%;
    }


    .breakfast-subtitle{
        position: relative;
        top:-2.5%;
        left: 6%;
    }
    
    .breakfast-jumbotron{
        position: relative;
        top: -2.5%;
        width: 90%;
    }

    .breakfast-tiles{
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .breakfast-tile-1{
        position: relative;
        top: 8%;
        left: 24%;
    }
    
    .breakfast-tile-2{
        position: relative;
        top: 12%;
        left: 24%;
    }
    
    .breakfast-tile-3{
        position: relative;
        top: 16%;
        left: 24%;
    }
    
    /* lunch */

    .lunch-menu{
        position: relative;
        top: 28%
    }
    .lunch-subtitle{
        position: relative;
        top:-3.5%;
        left: 6%;
    }
    
    .lunch-jumbotron{
        position: relative;
        top: -4%;
        width: 90%;
    }

    .lunch-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .lunch-tile-1{
        position: relative;
        top: 8%;
        left: 24%;
    }
    
    .lunch-tile-2{
        position: relative;
        top: 12%;
        left: 24%;
    }
    
    .lunch-tile-3{
        position: relative;
        top: 16%;
        left: 24%;
    }

    /* dinner */

    .dinner-menu{
        position: relative;
        top: 56%
    }
    .dinner-subtitle{
        position: relative;
        top:-3.5%;
        left: 6%;
    }
    
    .dinner-jumbotron{
        position: relative;
        top: -4%;
        width: 90%;
    }

    .dinner-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .dinner-tile-1{
        position: relative;
        top: 8%;
        left: 24%;
    }
    
    .dinner-tile-2{
        position: relative;
        top: 12%;
        left: 24%;
    }
    
    .dinner-tile-3{
        position: relative;
        top: 16%;
        left: 24%;
    }
    /* drinks */

    .drinks-menu{
        position: relative;
        top: 92%
    }

    .drinks-title{
        position: relative;
        top:-8%;
        left: 4%;
    }

    .drinks-subtitle{
        position: relative;
        top:-11%;
        left: 6%;
    }
    
    .lunch-jumbotron{
        position: relative;
        top: -4%;
        width: 90%;
    }

    .drinks-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .drinks-tile-1{
        position: relative;
        top: 8%;
        left: 24%;
    }
    
    .drinks-tile-2{
        position: relative;
        top: 12%;
        left: 24%;
    }
    
    .drinks-tile-3{
        position: relative;
        top: 16%;
        left: 24%;
    }

    /* desserts */

       .desserts-menu{
        position: relative;
        top: 124%
    }

    .desserts-title{
        position: relative;
        top:-1%;
        left: 4%;
    }

    .desserts-subtitle{
        position: relative;
        top:-4%;
        left: 6%;
    }
    
    .desserts-jumbotron{
        position: relative;
        top: -4%;
        width: 90%;
    }

    .desserts-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .desserts-tile-1{
        position: relative;
        top: 8%;
        left: 24%;
    }
    
    .desserts-tile-2{
        position: relative;
        top: 12%;
        left: 24%;
    }
    
    .desserts-tile-3{
        position: relative;
        top: 16%;
        left: 24%;
    }
}


@media (min-width: 437px) and (max-width: 599.99px) {



    .menu-container{
        padding-bottom: 2800px;
    }
    
    .menu-nav{
        position: relative;
        top: 64px;
        left: 9%;
    }

    #breakfast-button{
        left: 4%;
    }

    #lunch-button{
        left: 8%;
    }

    #dinner-button{
        left: 12%;
    }

    #beverages-button{
        top:110%;
        left: -24%;
    }

    #desserts-button{
        top:60%;
        left: 12%;
    }

    .breakfast-title{
        position: relative;
        top:4%;
        left: 4%;
    }


    .breakfast-subtitle{
        position: relative;
        top: .5%;
        font-size: 18px;
        left: 4%;
    }
    
    .breakfast-jumbotron{
        position: relative;
        top: .5%;
        width: 90%;
    }

    .breakfast-tiles{
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .breakfast-tile-1{
        position: relative;
        top: 20%;
        left: 8%;
    }
    
    .breakfast-tile-2{
        position: relative;
        top: 24%;
        left: 8%;
    }
    
    .breakfast-tile-3{
        position: relative;
        top: 28%;
        left: 8%;
    }
    
    /* lunch */

    .lunch-menu{
        position: relative;
        top: 32%
    }

    .lunch-title{
        position: relative;
        top:0%;
        left: 4%;
    }

    .lunch-subtitle{
        position: relative;
        top:-3.5%;
        left: 4%;
        font-size: 18px;
    }
    
    .lunch-jumbotron{
        position: relative;
        top: -4%;
        width: 90%;
    }

    .lunch-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .lunch-tile-1{
        position: relative;
        top: 4%;
        left: 8%;
    }
    
    .lunch-tile-2{
        position: relative;
        top: 8%;
        left: 8%;
    }
    
    .lunch-tile-3{
        position: relative;
        top: 12%;
        left: 8%;
    }

    /* dinner */

    .dinner-menu{
        position: relative;
        top: 56%
    }

    .dinner-title{
        position: relative;
        top:3%;
        left: 4%;
    }

    .dinner-subtitle{
        position: relative;
        top:.5%;
        left: 4%;
        font-size: 18px;
    }
    
    .dinner-jumbotron{
        position: relative;
        top: 0%;
        width: 90%;
    }

    .dinner-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .dinner-tile-1{
        position: relative;
        top: 20%;
        left: 8%;
    }
    
    .dinner-tile-2{
        position: relative;
        top: 24%;
        left: 8%;
    }
    
    .dinner-tile-3{
        position: relative;
        top: 28%;
        left: 8%;
    }
    /* drinks */

    .drinks-menu{
        position: relative;
        top: 92%
    }

    .drinks-title{
        position: relative;
        top:-4%;
        left: 4%;
    }

    .drinks-subtitle{
        position: relative;
        top:-6%;
        left: 4%;
        font-size: 18px;
    }
    
    .drinks-jumbotron{
        position: relative;
        top: -6%;
        width: 90%;
    }

    .drinks-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .drinks-tile-1{
        position: relative;
        top: 4%;
        left: 8%;
    }
    
    .drinks-tile-2{
        position: relative;
        top: 12%;
        left: 8%;
    }
    
    .drinks-tile-3{
        position: relative;
        top: 20%;
        left: 8%;
    }

    /* desserts */

       .desserts-menu{
        position: relative;
        top: 124%
    }

    .desserts-title{
        position: relative;
        top:-2%;
        left: 4%;
    }

    .desserts-subtitle{
        position: relative;
        top:-5%;
        font-size: 18px;
        left: 4%;
    }
    
    .desserts-jumbotron{
        position: relative;
        top: -4%;
        width: 90%;
    }

    .desserts-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .desserts-tile-1{
        position: relative;
        top: 4%;
        left: 8%;
    }
    
    .desserts-tile-2{
        position: relative;
        top: 8%;
        left: 8%;
    }
    
    .desserts-tile-3{
        position: relative;
        top: 12%;
        left: 8%;
    }





}
@media (min-width: 100px) and (max-width: 436.99px) {

    .menu-container{
        padding-bottom: 2800px;
    }
    
    .menu-nav{
        position: relative;
        top: 52px;
        left: -2%;
    }

    #breakfast-button{
        left: 4%;
    }

    #lunch-button{
        left: 8%;
    }

    #dinner-button{
        left: 12%;
    }

    #beverages-button{
        top:60%;
        left: 18%;
    }

    #desserts-button{
        top:60%;
        left: 24%;
    }

    .breakfast-title{
        position: relative;
        top:4%;
        left: 8%;
    }


    .breakfast-subtitle{
        position: relative;
        top: .5%;
        font-size: 18px;
        left: 6%;
    }
    
    .breakfast-jumbotron{
        position: relative;
        top: .5%;
        width: 90%;
    }

    .breakfast-tiles{
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .breakfast-tile-1{
        position: relative;
        top: 20%;
        left: -1.5%;
    }
    
    .breakfast-tile-2{
        position: relative;
        top: 24%;
        left: -1.5%;
    }
    
    .breakfast-tile-3{
        position: relative;
        top: 28%;
        left: -1.5%;
    }
    
    /* lunch */

    .lunch-menu{
        position: relative;
        top: 32%
    }

    .lunch-title{
        position: relative;
        top:0%;
        left: 20%;
    }

    .lunch-subtitle{
        position: relative;
        top:-3.5%;
        left: 22%;
        font-size: 18px;
    }
    
    .lunch-jumbotron{
        position: relative;
        top: -4%;
        width: 90%;
    }

    .lunch-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .lunch-tile-1{
        position: relative;
        top: 4%;
        left: -1.5%;
    }
    
    .lunch-tile-2{
        position: relative;
        top: 8%;
        left: -1.5%;
    }
    
    .lunch-tile-3{
        position: relative;
        top: 12%;
        left: -1.5%;
    }

    /* dinner */

    .dinner-menu{
        position: relative;
        top: 56%
    }

    .dinner-title{
        position: relative;
        top:3%;
        left: 20%;
    }

    .dinner-subtitle{
        position: relative;
        top:.5%;
        left: 6%;
        font-size: 16px;
    }
    
    .dinner-jumbotron{
        position: relative;
        top: 0%;
        width: 90%;
    }

    .dinner-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .dinner-tile-1{
        position: relative;
        top: 20%;
        left: -1.5%;
    }
    
    .dinner-tile-2{
        position: relative;
        top: 24%;
        left: -1.5%;
    }
    
    .dinner-tile-3{
        position: relative;
        top: 28%;
        left: -1.5%;
    }
    /* drinks */

    .drinks-menu{
        position: relative;
        top: 92%
    }

    .drinks-title{
        position: relative;
        top:-4%;
        left: 8%;
    }

    .drinks-subtitle{
        position: relative;
        top:-6%;
        left: 24%;
        font-size: 18px;
    }
    
    .drinks-jumbotron{
        position: relative;
        top: -6%;
        width: 90%;
    }

    .drinks-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .drinks-tile-1{
        position: relative;
        top: 4%;
        left: -1.5%;
    }
    
    .drinks-tile-2{
        position: relative;
        top: 12%;
        left: -1.5%;
    }
    
    .drinks-tile-3{
        position: relative;
        top: 20%;
        left: -1.5%;
    }

    /* desserts */

       .desserts-menu{
        position: relative;
        top: 124%
    }

    .desserts-title{
        position: relative;
        top:-2%;
        left: 4%;
    }

    .desserts-subtitle{
        position: relative;
        top:-5%;
        font-size: 18px;
        left: 6%;
    }
    
    .desserts-jumbotron{
        position: relative;
        top: -4%;
        width: 90%;
    }

    .desserts-tiles{
        position: relative;
        top: -4%;
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .desserts-tile-1{
        position: relative;
        top: 4%;
        left: -1.5%;
    }
    
    .desserts-tile-2{
        position: relative;
        top: 8%;
        left: -1.5%;
    }
    
    .desserts-tile-3{
        position: relative;
        top: 12%;
        left: -1.5%;
    }
}
