

.arrow{
    background-color: white;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    position: relative;
    top: -100px;
}

.back{
    background-color: white;
    border: none;
    
}

@media (min-width: 500px) and (max-width: 799px) {
    .arrow{
        left: 30%;
        top: -85px;
    }
}

@media (min-width: 800px) and (max-width: 1300.99px) {
    .arrow{
        left: 80%;
        top: -85px;
        width:60;
    }
}


