form {
    display:grid;
    max-width: 100%;
    height: 150%;
    gap: 2%;
    left:auto;
    right: inherit;
    background-image: url('../../images/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.top{
    font-family: 'Markazi', "serif";
    font-size: 48px;
    font-weight: 600;
    color: #495E57;
    position: relative;
    left: 30%;
    top: 30px;
}

.top2{
    font-family: 'Markazi', "serif";
    font-size: 48px;
    font-weight: 600;
    color: #495E57;
    position: relative;
    left: 20%;
    top: -60px;
}

.top3{
    position: relative;
    top:-90px;
}

sup{
    color: red;
    font-size: 1.2rem;
}

.res-set {
    background-color: #F4CE14;
    width: 60%;
    position: relative;
    left: 18.5%;
    border:none;
    border-radius: 15px;
    position: relative;
    top: 10px;
}
.res-set2{
    background-color: #F4CE14;
    width: 60%;
    position: relative;
    left: 18.5%;
    top:-5%;
    border:none;
    border-radius: 15px;
}

#first{
    padding: 8px;
    border-radius: 5px;
    display: flex;
    border-color: transparent;
    width: 40%;
}

.Field{
    position: relative;
    left: 50px;
    font-family: 'Karla', 'sans-serif';
    font-weight: 700;
    color: #495E57;
    
}

.Field2{
    position: relative;
    left: 460px;
    top: -64px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: #495E57;
}

#last{
    padding: 8px;
    border-radius: 5px;
    display: flex;
    border-color: transparent;
    width: 40%;
}

#email{
    padding: 8px;
    border-radius: 5px;
    display: flex;
    border-color: transparent;
    width: 85%;
}

.Field3{
    position: relative;
    left: 50px;
    top: -60px;
    font-family: 'Karla', serif;
    font-weight: 700;
    color: #495E57;
}

#phone{
    padding: 8px;
    border-radius: 5px;
    display: flex;
    border-color: transparent;
    width: 85%;
}

.Field4{
    position: relative;
    left: 50px;
    top: -40px;
    font-family: 'Karla', serif;
    font-weight: 700;
    color: #495E57;
}

.Field5{
    position: relative;
    left: 50px;
    top: -90px;
    font-family: 'Karla', serif;
    font-weight: 700;
    color: #495E57;
    
}

#res-date{
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px #495E57;
    font-family: 'Karla', serif;
    font-weight: 800;
    color: #495E57;
    display: flex;
    border-color: transparent;
    width: 40%;
    cursor: pointer;
}

.Field6{
    display: flex;
    position: relative;
    left: 500px;
    top: -148px;
    font-family: 'Karla', serif;
    font-weight: 700;
    color: #495E57;
}

#res-time{
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px #495E57;
    font-family: 'Karla', serif;
    font-weight: 800;
    color: #495E57;
    display: flex;
    border-color: transparent;
    width: 38%;
    position: relative;
    top: 27px;
    left:-109px;
    cursor: pointer;
}

.Field7{
    display: flex;
    position: relative;
    left: 50px;
    top: -115px;
    font-family: 'Karla', serif;
    font-weight: 700;
    color: #495E57;
}

#guests{
    padding: 5px;
    border-radius: 5px;
    display: flex;
    border-color: transparent;
    width: 20%;
    position: relative;
    top: 32px;
    left:-150px;
    font-family: 'Karla', serif;
    font-weight: 800;
    color: #495E57;
}

.Field8{
    display: flex;
    position: relative;
    left: 50px;
    top: -85px;
    font-family: 'Karla', serif;
    font-weight: 700;
    color: #495E57;
}

#occasion{
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px #495E57;
    font-family: 'Karla', serif;
    font-weight: 800;
    color: #495E57;
    display: flex;
    border-color: transparent;
    width: 42%;
    position: relative;
    top: 32px;
    left:-85px;
    cursor: pointer;
}

.Field-area{
    
    position: relative;
    top: -45px;
    left: 50px;
    font-family: 'Karla', serif;
    font-size: medium;
    font-weight: 700;
    color: #495E57;
    
}

#requests{
    padding-bottom: 95px;
    border-radius: 5px;
    display: flex;
    border-color: transparent;
    width: 88%;
    position: relative;
    top: 8px;
    left: -3px;
    font-family: 'Karla', serif;
    font-weight: 800;
    color: #495E57;
}

.res-button{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px #495E57;
    font-family: 'Karla', serif;
    font-weight: 800;
    background-color: #495E57;
    color: #EDEFEE;
    justify-content: center;
    display: flex;
    border-color: transparent;
    width: 20%;
    position: relative;
    cursor: pointer;
    left:40%;
}
.res-button:hover{
    background-color: #EE9972;
    box-shadow: none;
}

/* #res-date:hover{
    background-color: #EE9972;
    box-shadow: none;
}

#res-time:hover{
    background-color: #EE9972;
    box-shadow: none;
}

#occasion:hover{
    background-color: #EE9972;
    box-shadow: none;
} */



@media (min-width: 800px) and (max-width: 1300.99px) {
    form {
        background-size: 200%;
    }
    sup{
        font-size: 0.8rem;
    }
    .top{
        font-size: 40px;
        left: 28%;
        top: 0px;
    }
    .top2{
        font-size: 40px;
        left: 16%;
        top: -60px;
    }
    
    .top3{
        top:-80px;
    }

    .res-set {
        width: 80%;
        font-size: 20px;
        left: 8%;
        border-radius: 5px 5px 5px 0px;
        top:1%;
    }
    .res-set2{
        width: 80%;
        font-size: 20px;
        left: 8%;
        top:-4%;
        border-radius: 0px 0px 5px 5px;
        padding-bottom: 40px;
    }

    #first{
        padding: 8px;
        width: 45%;
    }
    
    .Field{
        left: 3px;
    }

    .Field2{
        left: 52%;
        top: -59px;
    }

    #last{
        padding: 8px;
        width: 45%;
    }

    #email{
        padding: 8px;
        width: 96.5%;
    }
    
    .Field3{
        left: 3px;
        top: -45px;
    }
    
    #phone{
        padding: 8px;
        width: 96.5%;
    }
    
    .Field4{
        left: 3px;
        top: -40px;
    }
    #res-date{
        padding: 8px;
        width: 45%;
        cursor: pointer;
    }
    .Field5{
        left: 3px;
        top: -85px;
    }
    
    .Field6{
        left: 52%;
        top: -148px;
    }
    
    #res-time{
        padding: 8px;
        width: 47%;
        top: 26.5px;
        left: -127px;
    }

    .Field7{
        left: 3px;
        top: -90px;
        font-size: 20px;
    }
    
    #guests{
        padding: 8px;
        width: 30%;
        top: 28px;
        left: -177px;
    }
    
    .Field8{
        left: 3px;
        top: -38px;
    }
    
    #occasion{
        padding: 8px;
        width: 40%;
        top: 26px;
        left:-98px;
    }
    
    .Field-area{
        font-size: 20px;
        top: 10px;
        left: 4px;
    }
    
    #requests{
        padding-top: 15px;
        padding-bottom: 65px;
        width: 100%;
        top: 2px;
        left: -8px;
    }
    
    .res-button{
        padding: 10px;
        width: 50%;
        top:30px;
        left:24%;
    }


}

@media (min-width: 500px) and (max-width: 799.99px) {
    form {
        background-size: 200%;
    }
    sup{
        font-size: 0.8rem;
    }
    .top{
        font-size: 24px;
        position: relative;
        left: 35%;
        top: 0px;
    }
    .top2{
        font-size: 24px;
        position: relative;
        left: 27%;
        top: -20px;
    }
    
    .top3{
        top:-35px;
    }

    .res-set {
        width: 80%;
        font-size: 20px;
        left: 8%;
        border-radius: 5px 5px 5px 0px;
        top:1%;
    }
    .res-set2{
        width: 80%;
        font-size: 20px;
        left: 8%;
        top:-4%;
        border-radius: 0px 0px 5px 5px;
        padding-bottom: 40px;
    }
    
    #first{
        padding: 4px;
        width: 90%;
    }
    
    .Field{
        left: 3px;
    }
    
    .Field2{
        left: 3px;
        top: 0px;
    }
    
    #last{
        padding: 4px;
        width: 90%;
    }
    
    #email{
        padding: 4px;
        width: 90%;
    }
    
    .Field3{
        left: 3px;
        top: 0px;
    }
    
    #phone{
        padding: 4px;
        width: 90%;
    }
    
    .Field4{
        left: 3px;
        top: 0px;
    }
    
    .Field5{
        left: 3px;
        top: -45px;
        
    }
    
    #res-date{
        padding: 3px;
        width: 50%;
        cursor: pointer;
    }
    
    .Field6{
        left: 3px;
        top: -45px;
    }
    
    #res-time{
        padding: 3px;
        width: 38%;
        top: 23px;
        left: -127px;
    }
    
    .Field7{
        left: 3px;
        top: -20px;
        font-size: 20px;
    }
    
    #guests{
        padding: 0px;
        width: 30%;
        top: 22px;
        left: -177px;
    }
    
    .Field8{
        left: 3px;
        top: -3px;
    }
    
    #occasion{
        padding: 3px;
        width: 50%;
        top: 22px;
        left:-98px;
    }
    
    .Field-area{
        font-size: 20px;
        top: 20px;
        left: 4px;
    }
    
    #requests{
        padding-bottom: 65px;
        width: 97%;
        top: 2px;
        left: -3px;
    }
    
    .res-button{
        padding: 10px;
        width: 80%;
        top:30px;
        left:9%;
    }


}

@media (min-width: 320px) and (max-width: 499.99px) {

    form {
        background-size: 300%;
    }
    sup{
        font-size: 0.8rem;
    }
    .top{
        font-size: 16px;
        position: relative;
        left: 25%;
        top: 5px;
    }
    .top2{
        font-size: 16px;
        position: relative;
        left: 15%;
        top: -20px;
    }
    
    .top3{
        top:-35px;
    }

    .res-set {
        width: 80%;
        font-size: 14px;
        left: 5%;
        border-radius: 5px 5px 5px 0px;
        top:1%;
    }
    .res-set2{
        width: 80%;
        font-size: 14px;
        left: 5%;
        top:-4%;
        border-radius: 0px 0px 5px 5px;
        padding-bottom: 40px;
    }
    
    #first{
        padding: 4px;
        width: 90%;
    }
    
    .Field{
        left: 3px;
    }
    
    .Field2{
        left: 3px;
        top: 0px;
    }
    
    #last{
        padding: 4px;
        width: 90%;
    }
    
    #email{
        padding: 4px;
        width: 90%;
    }
    
    .Field3{
        left: 3px;
        top: 0px;
    }
    
    #phone{
        padding: 4px;
        width: 90%;
    }
    
    .Field4{
        left: 3px;
        top: 0px;
    }
    
    .Field5{
        left: 3px;
        top: -45px;
        
    }
    
    #res-date{
        padding: 3px;
        width: 50%;
        cursor: pointer;
    }
    
    .Field6{
        left: 3px;
        top: -45px;
    }
    
    #res-time{
        padding: 3px;
        width: 38%;
        top: 27px;
        left: -90px;
    }
    
    .Field7{
        left: 3px;
        top: -20px;
        font-size: 13px;
    }
    
    #guests{
        padding: 0px;
        width: 30%;
        top: 20px;
        left: -117px;
    }
    
    .Field8{
        left: 3px;
        top: -5px;
    }
    
    #occasion{
        padding: 3px;
        width: 50%;
        top: 22px;
        left:-70px;
    }
    
    .Field-area{
        font-size: 12px;
        top: 20px;
        left: 4px;
    }
    
    #requests{
        padding-bottom: 65px;
        width: 97%;
        top: 2px;
        left: -3px;
    }
    
    .res-button{
        padding: 10px;
        width: 80%;
        top:30px;
        left:9%;
    }

}