/* Landing */
.landing-content{
    width: 100%;
    background-color: #495E57;
    position: relative;
    height: 465px;
}

.landing-title {
    color: #F4CE14;
    font-family: 'Markazi', "serif";
    font-size: 60px;
    font-weight: 600;
    position: relative;
    left: 20%;
    top: 62.5px;
    margin-bottom: 0;
}

h1 {
    font-family: 'Markazi', serif;
    left: 20%;
    top: 62.5px;
}

.landing-subtitle{
    font-family: 'Markazi', serif;
    font-weight: 500;
    color: #EDEFEE;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 50px;
    position: relative;
    left: 20%;
    top: 62.5px;
}

.landing-text{
    width: 380px;
    font-family: 'Karla', sans-serif;
    color: #EDEFEE;
    font-size: 16px;
    position: relative;
    left: 20%;
    top: 62.5px;

}

.landing-image{
    position: relative;
    left: 55%;
    top: -260px;
    border-radius: 5%;
}

.land-round{
    border-radius: 4%;
}

.reserve-a-buttton{
    width: 170px;
    height: 50px;
    background-color: #F4CE14;
    color:#333333;
    font-family: 'Karla', serif;
    font-weight: 700;
    font-size: large;
    border-style: none;
    border-radius: 15px;
    position: relative;
    left: 20%;
    top: 80px;
    box-shadow: 2px 2px #333333;
}

.reserve-a-buttton:hover {
    cursor: pointer;
    background-color: #EE9972;
}

/* About Section */

.about-content{
    width: 100%;
    position: relative;
    height: 465px;
    margin-top: 0px;
}

.about-title {
    color: #F4CE14;
    font-family: 'Markazi', "serif";
    font-size: 60px;
    font-weight: 600;
    position: relative;
    left: 20%;
    top: 62.5px;
    margin-bottom: 0;
}

.about-subtitle{
    font-family: 'Markazi', serif;
    font-weight: 500;
    color:#495E57;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 50px;
    position: relative;
    left: 20%;
    top: 62.5px;
}

.about-text{
    width: 340px;
    font-family: 'Karla', sans-serif;
    color:#495E57;
    font-size: 16px;
    position: relative;
    left: 20%;
    top: 62.5px;

}

.about-images{
    position: relative;
    left: 750px;
    top: -173px;
}

.about-round1{
    box-shadow: 4px 4px #333333;
    border-radius: 20px;
    position: relative;
    top: -150px;
    left: 70px;
    z-index: 4;

}

.about-round2{
    box-shadow: 4px 4px #333333;
    border-radius: 20px;
    position: relative;
    top: -10px;

}

/* specials */

.specials-title{
    color: #333333;
    font-size: 60px;
    font-family: 'Markazi', serif;
    position: relative;
    left: 20%;
}

.order-online-button{
    width: 170px;
    height: 50px;
    background-color: #F4CE14;
    color:#333333;
    font-family: 'Karla', serif;
    font-weight: 700;
    font-size: large;
    border-style: none;
    border-radius: 15px;
    position: relative;
    left: 73.5%;
    top: -35px;
    box-shadow: 2px 2px #333333;
}

.specials .specials-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
}

h4.salad {
    position: relative;
    top: 0px;
}

.tile1 {
    border-radius: 15px 15px 0 0;
}

.food{
    display: flex;
    position: relative;
    top: 50%;
    margin-bottom: 0;
}

.price{
    position: relative;
    left: 39%;
    margin-top: 0;
}

.price-l{
    position: relative;
    left: 30%;
    margin-top: 0;
}
h4.food{
    left:4%;
}

.order {
    color: #495E57;
    position: relative;
    left: 4%;
}
.spec{
    position: relative;
    left:4%;
    max-width: 244px;
}

.specials-tile-1 {
    display:flex;
    flex-direction: column;
    max-width: 250px;
    position: relative;
    left: -5%;
    margin-right: 0;
    background-color: #EDEFEE;
    border-radius: 15px 15px 0 0;
}

.specials-tile-2 {
    display:flex;
    flex-direction: column;
    max-width: 250px;
    position: relative;
    left: 2.5%;
    background-color: #EDEFEE;
    border-radius: 15px 15px 0 0;
}


.specials-tile-3 {
    display:flex;
    flex-direction: column;
    max-width: 250px;
    position: relative;
    left: 10%;
    background-color: #EDEFEE;
    border-radius: 15px 15px 0 0;
}

p.specials-content{
    padding: 2px;
}


/* Review section */

.reviews{
    width:100%;
    background-color: #F4CE14;
    font-family: 'Karla', sans-serif;
    /* position: absolute; */
    position: relative;
    bottom: 2px;
    border-radius: 7px;
    height:500px;
}

.review-title{
    color: #333333;
    font-size: 60px;
    font-family: 'Markazi', serif;
    position: relative;
    top:8%;
    left: 20%;
    margin-bottom: 0;
}

.review-subtitle{
    color: #333333;
    font-size: 40px;
    font-family: 'Markazi', serif;
    position: relative;
    top:10%;
    left: 25%;
    margin-top: 0%;
}

.review-cards{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20%;
    left: 20%;
}

.kosie{
    background-image: url("kosie.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width:200px;
}
.ayo{
    background-image: url("ayo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width:200px;
    position: relative;
    left: 2%;
}
.dez{
    background-image: url("Daz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width:200px;
    position: relative;
    left: 4%;
}
.dan{
    background-image: url("Dan.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width:200px;
    position: relative;
    left: 6%;
}
.name1{
    display: inline;
    margin: 0;
    border-radius: 7px;
    width:40%;
    padding-left:2%;
    padding-right: 2%;
    background-color: #495E57;
    position: relative;

}

.rating1{
    font-size: 24px;
    border-radius: 7px;
    width:20%;
    padding-left:2%;
    background-color: #495E57;
    position: relative;
    top:-27%;
    left:77%;
    text-align: center;
}

.star{
    margin: 0;
    font-size: 12px;
}

.read{
    font-size: 18px;
    border-radius: 0px;
    padding-left:2%;
    background-color: #495E57;
    position: relative;
    bottom:-25%;
    left:0%;
    text-align: center;
}


@media (min-width: 1200px) and (max-width: 1300px) {
    /* Specials */
    .specials-title{
        left: 13%;
    }
}

@media (min-width: 950px) and (max-width: 1199px) {
    /* Specials */
    .specials-title{
        left: 9%;
    }
    .specials-tile-1 {
        left: -2%;

    }
    .specials-tile-2 {
        left: 0.5%;
    }
    .specials-tile-3 {
        left: 3%;
    }

    /* Landing */
    .land-round{
        display: flex;
        flex-direction: row;
        position: relative;
        left: -4%;
        top: 35px;
        width: 400px;
        height: 400px;
    }
    .landing-title {
        left: 10%;
    }
    .landing-subtitle{
        left: 10%;
    }
    .landing-text{
        width: 300px;
        left: 10%;
    }
    .reserve-a-buttton{
        left: 10%;
    }

    /* Reviews */
    .review-title{
        left: 7%;
    }
    .review-subtitle{
        left: 10%;
    }
    .review-cards{
        left: 5%;
    }

    /* About */

    .about-title {
        left: 10%;
    }
    .about-subtitle{
        left: 10%;
    }
    .about-text{
        width: 340px;
        font-size: 18px;
        left: 10%;
        top: 30px
    }
    .about-images{
        left: 380px;
    }
    .about-round1{
        width:250px;
        height: 250px;
    }
    .about-round2{
        width:250px;
        height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 949px) {
    /* Landing */
    .land-round{
        display: flex;
        flex-direction: row;
        position: relative;
        left: -4%;
        top: 65px;
        width: 350px;
        height: 350px;
    }
    .landing-title {
        left: 10%;
    }
    .landing-subtitle{
        left: 10%;
    }
    .landing-text{
        width: 300px;
        left: 10%;
    }
    .reserve-a-buttton{
        left: 10%;
    }
    


    /* Specials */
    .specials-title{
        left: 2%;
        font-size: 55px;
    }
    .specials .specials-content{
        flex-direction: column;
    }
    .specials-tile-1 {
        left: -2%;
        margin-top: 5px;
    }
    .specials-tile-2 {
        margin-top: 20px;
        left: -2%;
    }
    .specials-tile-3 {
        margin-top: 20px;
        left: -2%;

    }
    /* Reviews */
    .reviews{
        height:1550px;
    }
    .review-title{
        left: 6%;
        top:40px;
        font-size: 50px;
    }
    .review-subtitle{
        left: 14%;
        top: 60px
    }
    .review-cards{
        top:100px;
        left: 0%;
        flex-direction: column;
        align-items: center;
    }
    .kosie{
        width:400px;
        height: 300px;
    }
    .ayo{
        width:400px;
        height: 300px;
        left: 0.1%;
        margin-top: 15px;
    }
    .dez{
        width:400px;
        height: 300px;
        left: 0.3%;
        margin-top: 15px;
    }
    .dan{width:400px;
        height: 300px;
        left: 0.3%;
        margin-top: 15px;
    }
    .rating1{
        font-size: 40px;
        top:-19.5%;
        left:78%;
        border-radius: 15px;
    }
    .star{
        font-size: 18px;
    }
    .read{
        font-size: 24px;
        bottom:-35%;
    }

    /* About */
    .about-title {
        left: 2%;
    }
    .about-subtitle{
        left: 2%;
    }
    .about-text{
        width: 340px;
        font-size: 18px;
        left: 2%;
        top: 30px
    }
    .about-images{
        left: 300px;
    }
    .about-round1{
        top:-170px;
        width:250px;
        height: 250px;
    }
    .about-round2{
        left:-80px;
        width:250px;
        height: 250px;
    }

}

@media (max-width: 767px) {
    .landing-content{
        height: 700px;
    }
    .land-round{
        position: relative;
        left: -38%;
        top: 270px;
        width: 350px;
        height: 300px;
    }
    .landing-title {
        left: 18%;
    }
    .landing-subtitle{
        left: 36%;
    }
    .landing-text{
        width: 450px;
        left: 10%;
        top: 50px;
    }
    .reserve-a-buttton{
        left: 12%;
        width: 400px;
        top:380px;
    }

    /* Specials */
    .specials{
        height: 1600px;
    }
    .specials-title{
        left: 14.5%;
        top: 50px;
        font-size: 40px;
    }
    .specials .specials-content{
        flex-direction: column;
    }
    .specials-tile-1 {
        left: -2%;
        margin-top: 5px;
    }
    .specials-tile-2 {
        margin-top: 20px;
        left: -2%;
    }
    .specials-tile-3 {
        margin-top: 20px;
        left: -2%;

    }
    .order-online-button{
        width: 400px;
        left: 10.5%;
        top: 1450px;
    }

    /* Reviews */
    .reviews{
        height:1500px;
    }
    .review-title{
        left: 3%;
        top:40px;
        font-size: 37px;
    }
    .review-subtitle{
        left: 10%;
        top: 60px;
        font-size: 30px;
    }
    .review-cards{
        top:100px;
        left: 0%;
        flex-direction: column;
        align-items: center;
    }
    .kosie{
        width:400px;
        height: 300px;
    }
    .ayo{
        width:400px;
        height: 300px;
        left: 0.1%;
        margin-top: 15px;
    }
    .dez{
        width:400px;
        height: 300px;
        left: 0.3%;
        margin-top: 15px;
    }
    .dan{width:400px;
        height: 300px;
        left: 0.3%;
        margin-top: 15px;
    }
    .rating1{
        font-size: 40px;
        top:-19.5%;
        left:78%;
        border-radius: 15px;
    }
    .star{
        font-size: 18px;
    }
    .read{
        font-size: 24px;
        bottom:-35%;
    }

    /* About */
    .about{
        height: 800px;
    }
    .about-title {
        left: 25%;
    }
    .about-subtitle{
        left: 40%;
    }
    .about-text{
        width: 90vw;
        font-size: 18px;
        left: 4%;
        top: 20px
    }
    .about-images{
        top: 170px;
        left: 40px;

    }
    .about-round1{
        top:-100px;
        width:350px;
        height: 350px;
        left: 10%;
    }
    .about-round2{
        display:none
    }


}
@media (max-width: 500px) {
    .land-round{
        position: relative;
        left: -51.5%;
        top: 270px;
        width: 350px;
        height: 300px;
    }
    .landing-title {
        left: 5%;
    }
    .landing-subtitle{
        left: 34%;
    }
    .landing-text{
        width: 360px;
        left: 5%;
        top: 50px;
    }
    .reserve-a-buttton{
        left: 10%;
        width: 300px;
        top:380px;
    }


    /* Specials */
    .specials-title{
        left: 5.5%;
        top: 50px;
        font-size: 36px;
    }

    .order-online-button{
        width: 300px;
        left: 7.5%;
        top: 1450px;
    }

    /* Reviews */
    .reviews{
        height:1500px;
    }
    .review-title{
        left: 5%;
        top:40px;
        font-size: 26px;
    }
    .review-subtitle{
        left: 13%;
        top: 60px;
        font-size: 20px;
    }
    .review-cards{
        top:100px;
        left: 0%;
        flex-direction: column;
        align-items: center;
    }
    .kosie{
        width:300px;
    }
    .ayo{
        width:300px;
        left: 0.1%;
        margin-top: 15px;
    }
    .dez{
        width:300px;
        left: 0.3%;
        margin-top: 15px;
    }
    .dan{
        width:300px;
        left: 0.3%;
        margin-top: 15px;
    }
   

   /*  About */
    .about-title {
        left: 6%;
    }
    .about-subtitle{
        left: 36%;
    }
    .about-text{
        width: 340px;
        font-size: 18px;
        left: 5%;
        top: 20px
    }
    .about-images{
        top: 170px;
        left: -5%;
    }
    .about-round1{
        top:-120px;
        width:250px;
        height: 250px;
    }
    .about-round2{
        display: none;
    }
}