@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Markazi+Text:wght@400;500;600;700&display=swap');

.navbar{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* background-color: rgba(210, 210, 0.65); */
    z-index: 2;
    font-family: 'Karla', sans-serif;
    

}

a.nav-elements{
    text-decoration: none;
}

a:hover{
    color: #EE9972;
}

.nav-links{
    flex: 1;
    position:relative;
    top: 0px;
    left: 85%;
    bottom: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

.link{
   text-decoration: none;
   flex-direction: column;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 600;
   color:#333333;

   transition: all 0.3s ease-in-out;
}

.head{
    color:#333333;
    align-items: center;

}

.link:hover{
    color: #333333;
}

.nav-elements-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    background-color: #EDEFEE;
}

.nav-hamburger{
    width: 75%;
    height: 75%;
    color:#495E57;
}

.nav-hamburger:active{
    color: #F4CE14;
}

.nav-elements-menu >div{
    padding: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    background-color: #F4CE14;
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

}

.nav-cancel{
    width: 35px;
    height: 35px;
    color: #495E57;

}

.nav-elements-menu >div .link{
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}

.nav-elements-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;

}
.nav-md-menu{
    display: none;
}
.nav-small{
    display:none;
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .nav-links{
        flex: 1;
        position:relative;
        top: 0px;
        left: 70%;
        bottom: 50px;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 15px;
        list-style-type: none;
    }
}
/* medium sized screens */
@media (min-width: 950px) and (max-width: 1199px) {
    .nav-links{
        display: none;
    }
    .nav-small{
        display:flex;
    }
    ul.nav-menushow-menu {
        position: relative;
        top: 41px;
    }
    .nav-md-menu{
        display: block;
        position: relative;
    }
    .toggle{
        cursor: pointer;
        background: transparent;
        border: none;
        position: relative;
        left: 20px;
        top: 60px;

    }


    .nav-menu{
        list-style: none;
        position: absolute;
        background-color: #EDEFEE;
        left: 0;
        width: 0;
        overflow: hidden;
        max-width: 290px;
        z-index: 9;
        font-size: 18px;
        box-shadow: 0 10px 15px -3px ;
        transform: translateX(-100px);
        transition: transform ease-in-out 0.5s;
    }
    .nav-menu.show-menu{
        width: 100%;
        transform: translateX(opx);
    }
    .nav-menu li a, .nav-menu li span {
        display: block;
        padding: 1rem;
        
    }
    .link-md{
        font-size: 24px;
        margin-bottom: 40px;
        list-style-type: none;
    }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 949px) {
    .nav-links{
        display: none;
    }
    .nav-small{
        display:flex;
    }
    ul.nav-menushow-menu {
        position: relative;
        top: 41px;
    }
    .nav-md-menu{
        display: block;
        position: relative;
    }
    .toggle{
        cursor: pointer;
        background: transparent;
        border: none;
        position: relative;
        left: 20px;
        top: 55px;

    }


    .nav-menu{
        list-style: none;
        position: absolute;
        background-color: #EDEFEE;
        left: 0;
        width: 0;
        overflow: hidden;
        max-width: 290px;
        z-index: 9;
        font-size: 18px;
        box-shadow: 0 10px 15px -3px ;
        transform: translateX(-100px);
        transition: transform ease-in-out 0.5s;
    }
    .nav-menu.show-menu{
        width: 100%;
        transform: translateX(0px);
    }
    .nav-menu li a, .nav-menu li span {
        display: block;
        padding: 1rem;
    }
    .link-md{
        font-size: 24px;
        margin-bottom: 40px;
        list-style-type: none;
    }
}

/* extra small devices */
@media (max-width: 767px) {
    .nav-links{
        display: none;
    }
    .nav-small{
        display:flex;
    }
    ul.nav-menushow-menu {
        position: relative;
        top: 41px;
    }
    .nav-md-menu{
        display: block;
        position: relative;
    }
    .toggle{
        cursor: pointer;
        background: transparent;
        border: none;
        position: relative;
        left: 20px;
        top: 55px;

    }


    .nav-menu{
        list-style: none;
        position: absolute;
        background-color: #EDEFEE;
        left: 0;
        width: 0;
        overflow: hidden;
        max-width: 290px;
        z-index: 9;
        font-size: 30px;
        box-shadow: 0 10px 15px -3px;
        transform: translateX(-100px);
        transition: transform ease-in-out 0.5s;
    }
    .nav-menu.show-menu{
        width: 100%;
        transform: translateX(0px);
    }
    .nav-menu li a, .nav-menu li span {
        display: block;
        padding: 1rem;
    }
    .link-md{
        font-size: 24px;
        margin-bottom: 40px;
        list-style-type: none;
    }

   
    }

@media (max-width: 479px) {
    .nav-links{
        display: none;
    }
    .nav-small{
        display:flex;
    }
    ul.nav-menushow-menu {
        position: relative;
        top: 41px;
    }
    .nav-md-menu{
        display: block;
        position: relative;
    }
    .toggle{
        cursor: pointer;
        background: transparent;
        border: none;
        position: relative;
        left: -5px;
        top: 55px;

    }


    .nav-menu{
        list-style: none;
        position: absolute;
        background-color:none;
        left: 0;
        width: 0;
        overflow: hidden;
        max-width: 290px;
        z-index: 0;
        font-size: 30px;
        box-shadow: 0 10px 15px -3px;
        transform: translateX(-100px);
        transition: transform ease-in-out 0.5s;
    }

    .link-md{
        font-size: 24px;
        margin-bottom: 40px;
        list-style-type: none;
    }
    .nav-menu.show-menu{
        width: 100%;
        transform: translateX(0px);
    }
    .nav-menu li a, .nav-menu li span {
        display:block;
        padding: 1rem;
    }

   
        }